<div [ngStyle]= "{'border':'solid', 'margin': '60px'}">
  <p [ngStyle]= "{'padding': '10px'}">Ici vous pouvez retrouver les détails du film : </p>
</div>


<div class="main" *ngIf= "film$ | async as film">
    <div class="photo">
        <img src={{film[0].image}}>
    </div>
    <div class="meta">
    <mat-card>
    <mat-card-header>
      <mat-card-title>{{film[0].title | uppercase}}</mat-card-title>
      <mat-card-subtitle>Description :</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{film[0].description}}</p>
      <button (click)="display()">Info</button>
    </mat-card-content>
  </mat-card>
</div>
</div>