<div class="input"> 
<p>Bienvenue !</p>
<input type="text" [(ngModel)]="search">
</div>

<div class="main" >
<div *ngFor = "let i of film">
<mat-card *ngIf= "!search">
    <img mat-card-image src={{i.image}}>
    <mat-card-title>{{i.title}}</mat-card-title>
    <mat-card-subtitle>
        <a routerLink="details/{{i.id}}">>Voir détails</a></mat-card-subtitle>
</mat-card>
<mat-card *ngIf= "search == i.title">
    <img mat-card-image src={{i.image}}>
    <mat-card-title>{{i.title}}</mat-card-title>
    <mat-card-subtitle>
    <a routerLink="details/{{i.id}}">>Voir détails</a></mat-card-subtitle>
</mat-card>
</div>
</div>
