.main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-card {
    max-width: 150px;
    margin-bottom: 8px;
  }
    

p {
    font-size: 25x;
    margin-right: 10px;
}

.input{
    display:flex;
    justify-content: center;
    margin: 60px;
    align-items:baseline;
}
