
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="100"
    src="../assets/gib.png"
  />
    <h1>{{title}}</h1>
</div>
<div class="content">
  <p>Bienvenue !</p>
</div>

<router-outlet></router-outlet>


