.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:rgb(230, 230, 230);
    color: white;
    font-weight: 600;
  }

  h1 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: black;
    margin-left: 5px;
    padding-top: 15px;
  }

  p {
    color: black;
    font-weight: bold;
  }

  